# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.TextMeshProEssentialResources.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\workspace\funzy\git\frontend\TextMeshProEssentialResources\.idea\.idea.TextMeshProEssentialResources\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
