# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Package-Template.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
